:root {
  --feedback-hover-color: rgb(18, 18, 18) !important;
  --feedback-header-color: rgb(14, 14, 14) !important;
  --feedback-text-color: rgb(16, 16, 16) !important;
  --grey-text: #212529 !important;
  --light-grey-text: #808080 !important;
}

/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

#mainlogo {
  max-width: 6rem;
  width: 100%;
  border-radius: 50% !important;
}

#header-container {
  margin-bottom: 6.2rem !important;
}

#myModal {
  display: none;
  justify-content: center !important;
  align-items: center !important;
}

/* FAQ starts */
.FAQ-header {
  padding-bottom: 1rem;
  display: none;
}

.FAQ-instruction {
  display: none; /*First hidden, then slowly visible when opening FAQ page*/
}

.question-area {
  display: none;
}

.answer-area {
  display: none;
}
/* FAQ ends */

/* About_teacher starts */

.button-link {
  background: none !important;
  border: none !important;
  padding: 2 !important;
  color: lightslategray;
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
}

.heading-container-summary {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.number {
  width: 20%;
  height: 100%;
  display: flex;
}

.red {
  color: red !important;
}

#report-heading1,
#report-heading2 {
  color: #fff !important;
  background: black !important;
}

#report-heading1:hover,
#report-heading2:hover {
  background: rgb(17, 17, 17) !important;
}
/* About_teacher ends */

/* Testpage starts */
/*
.heading-container {
  color: #fff;
  background-color: #83b2ba;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.heading-container h1 {
  margin-bottom: 20px;
  border: 2px solid yellow;
}

.heading {
  border: 2px solid violet;
  width: 630px;
  display: flex;
  justify-content: space-between;
}

.studentName {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  display: flex;
}

.question-container {
  color: #5995da;
  background-color: #d6e9fe;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
}

.question {
  width: 700px;
  height: 100px;
  border: 5px solid #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.answer-container {
  color: #5995da;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
  border: 5px solid green;
}

.answer {
  width: 600px;
  height: 120px;
  border: 5px solid violet;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
}

.radio-button-box {
  display: flex;
  justify-content: flex-start;
  border: 3px solid yellow;
}

.resultCheck {
  color: blue;
  font-size: 12px;
  border: 3px solid brown;
}

.button-container {
  border: 3px solid red;
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #d6e9fe;
}

.button-container button {
  border: 5px solid green;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #5995da;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #76aeed;
}

.button-container button:active {
  background-color: #407fc7;
}
*/
/* Testpage ends */

#hero-container {
  position: relative !important;
}

#hero-text {
  position: absolute !important;
  top: 25% !important;
  /* transform: translateY(-75%); */
}

#driver-text {
  font-size: 5rem !important;
}

/* Feedback */
#th-feedback,
#tr-feedback,
#btn-feedback,
#start-test-btn,
#submit-test-btn,
.lock-the-answer {
  background-color: var(--feedback-header-color) !important;
  color: gray !important;
  border: none !important;
}

.student-name-search,
.student-test-result {
  background-color: var(--feedback-header-color) !important;
}

.var-header {
  color: gray !important;
}

.var-text {
  color: var(--feedback-text-color);
}

#th-feedback:hover,
#tr-feedback:hover,
#btn-feedback:hover {
  background-color: var(--feedback-hover-color);
}

#header-feedback {
  background-color: transparent !important;
  color: rgb(211, 211, 211) !important;
}

.feedback-hover {
  transition: all 0.3s ease-in-out;
}

.feedback-hover:hover {
  font-weight: bold !important;
  border: 1px solid rgb(21, 21, 246) !important;
  transform: scale(1.07) !important;
}

.certificate {
  font-size: 1.5rem;
  color: rgb(21, 21, 246) !important;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.delete-icon {
  font-size: 2.2rem;
  color: rgba(248, 0, 0, 0.79) !important;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.delete-icon:hover {
  color: rgba(197, 95, 95, 0.89) !important;
  opacity: 1 !important;
}

.certificate:hover {
  color: rgb(15, 15, 16) !important;
  opacity: 1;
}

.delete-icon:active,
#link-to-student:active,
.certificate:active {
  transform: scale(0.97) !important;
}

#link-to-student:hover {
  color: rgb(9, 9, 212) !important;
}

#search-bar {
  position: sticky !important;
  top: 17% !important;
}

.table-style {
  border-collapse: separate !important;
  border-spacing: 0.7rem !important;
}

.textarea-feedback:hover {
  transform: scale(1.01) !important;
  border: 1px solid blue !important;
}

.textarea-feedback:focus {
  border: 1px solid blue !important;
}

#certificate-container {
  border: 1px solid black !important;
  box-shadow: 2px 2px 1rem black !important;
}

#certificate-container:hover {
  transform: scale(1.01) !important;
  border: 2px solid rgb(13, 13, 65) !important;
}

#test-page-link:hover {
  color: white !important;
}

#test-page-link:focus {
  color: white !important;
}

@media (max-width: 231px) {
  #header-container {
    margin-bottom: 4rem !important;
  }

  #mainlogo {
    display: none !important;
  }

  .nav-link {
    text-align: center !important;
  }
}

@media (max-width: 290px) {
  #driver-text {
    font-size: 2.5rem !important;
  }

  #search-icon {
    display: none !important;
  }

  #feedback-table,
  #search-result {
    width: 95% !important;
  }
}

@media (max-width: 390px) and (min-width: 291px) {
  #driver-text {
    font-size: 3rem !important;
  }

  #search-icon {
    display: none !important;
  }

  #feedback-table,
  #search-result {
    width: 95% !important;
  }
}

@media (max-width: 800px) {
  /* #search-bar {
    top: 18% !important;
  } */

  #feedback-table,
  #search-result {
    width: 80% !important;
  }
}
/* 
@media (min-width: 900px) {
  #search-bar {
    top: 16% !important;
  }
}

@media (min-width: 1100px) and (orientation: portrait) {
  #search-bar {
    top: 20% !important;
  }
}

@media (min-width: 1150px) and (orientation: landscape) {
  #search-bar {
    top: 10% !important;
  }
} */
