#mainlogo {
  max-width: 6rem;
  width: 100%;
  border-radius: 50% !important;
}

#header-container {
  margin-bottom: 6.2rem !important;
}

#myModal {
  display: none;
  justify-content: center !important;
  align-items: center !important;
}

/* FAQ starts */
.FAQ-header {
  padding-bottom: 1rem; /* Omalla koneella Chromella Dark Mode lisäosa estää kaikki CSS muutokset */
  display: none; /* Firefoxilla näkyy normaalisti */
}

.FAQ-instruction {
  display: none; /*First hidden, then slowly visible when opening FAQ page*/
}

.question-area {
  display: none;
}

.answer-area {
  display: none;
}
/* FAQ ends */

#hero-container {
  position: relative !important;
}

#hero-text {
  position: absolute !important;
  top: 25% !important;
  /* transform: translateY(-75%); */
}

#driver-text {
  font-size: 5rem !important;
}

/* MEDIA QUERYS always last ones in css */
@media (max-width: 231px) {
  #header-container {
    margin-bottom: 4rem !important;
  }

  #mainlogo {
    display: none !important;
  }

  .nav-link {
    text-align: center !important;
  }
}

@media (max-width: 290px) {
  #driver-text {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 390px) and (min-width: 291px) {
  #driver-text {
    font-size: 3rem !important;
  }
}
