#mainlogo {
  max-width: 7rem;
  width: 100%;
  border-radius: 50% !important;
}

#header-container {
  margin-bottom: 6.5rem !important;
}

#myModal {
  display: none;
  justify-content: center !important;
  align-items: center !important;
}

/* FAQ starts */
.FAQ-header {
  padding-bottom: 15px; /* Omalla koneella Chromella Dark Mode lisäosa estää kaikki CSS muutokset */
  display: none;        /* Firefoxilla näkyy normaalisti */
}

.FAQ-instruction {
  display: none;        /*First hidden, then slowly visible when opening FAQ page*/
}

.question-area {
  display: none;  
}

.answer-area {
  display: none;
}
/* FAQ ends */

/* MEDIA QUERYS always last ones in css */
@media (max-width: 231px) {
  #header-container {
    margin-bottom: 4rem !important;
  }

  #navbar {
    justify-content: center !important;
  }

  #mainlogo {
    display: none !important;
  }

  .nav-link {
    text-align: center !important;
  }
}
